@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

@font-face {
    font-family: Follow;
    src: url(./font1/Caprasimo-Regular.ttf);
}

*{
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

.nav-dekstop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    position: fixed;
    width: 100%;
    background: rgb(17, 17, 17);
    height: 60px;
    top: 0;
    left: 0;
}


.logo{
    padding-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 3vh;
}

body{
    background: black;
}

.bar a{
    text-decoration: none;
    font-size: 1.8em;
    margin: 15px;
    color: rgb(226, 17, 17);
}

.bar a:hover{
    color: white;
}

.tombol{
    padding-right: 20px;
}

.tombol button{
    width: 9vh;
    height: 4vh;
    background-color: rgb(182, 25, 25);
    border: none;
    border-radius: 5px;
}


.tombol button:hover{
    background: rgb(255, 255, 255);
}

.tombol a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Chakra Petch', sans-serif;
}

.row{
    display: block;
    margin-left: 10%
}


.disc{
    color: red;
    font-size: 1.2em;
    padding-top: 5%;
    padding-left: 30%;
}

.h1{
    color: white;
    font-size: 1.7em;
    font-family: 'Chakra Petch', sans-serif;
    padding-left: 15%;
    padding-top: 10%;
}

.h2{
    color: gray;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 15%;
    padding-top: 8%;
}

.isi{
    display: flex;
    align-items: center;
    margin-top: 8%
}

.hp{
    padding-top: 5%;
    padding-left: 30%;
}

.batas{
    background: rgb(179, 33, 33);
    margin-top:17%;
    padding: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.logo2{
    display: flex;
    margin-left: 30%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.follow{
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-family: Follow;
}

.isi2{
    background: black;
    height: 400px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 5em;
    font-family: 'Chakra Petch', sans-serif;
}


footer{
    background: white;
    color: rgb(17, 16, 16);
    margin-bottom: 0;
    width: 100%;
    position: sticky;
    justify-content: center;
    text-align: center;
    bottom: 0;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Chakra Petch', sans-serif;
}

.ig img:hover{
    background: white;
    border-radius: 10%;
}
.fb img:hover{
    background: white;
    border-radius: 10%;
}
.twt img:hover{
    background: white;
    border-radius: 10%;
}

.nav-mobile{
    display: none;
}

.contain-mobile{
    display: none;
}

@media  (max-width: 600px) {

body{
    max-width: 1005;
}

    .nav-dekstop{
        display: none;
    }
    
    .nav-mobile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    position: fixed;
    width: 100%;
    background: rgb(17, 17, 17);
    height: 60px;
    top: 0;
    left: 0;
    }

    .contain-dekstop{
        display: none;
    }

    .contain-mobile{
        display: contents;
    }

    .disc{
        color: red;
        font-size: 1.2em;
        padding-top: 1vh;
        padding-left: 5vh;
    }

    .h1{
        color: white;
        font-size: 1em;
        font-family: 'Chakra Petch', sans-serif;
        padding-left: 7vh;
        padding-top: 2vh;
    }

    .h2{
        color: gray;
        font-size: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-left: 7vh;
        padding-top:2vh;
        padding-bottom: 2vh;
    }

    .hp{
        padding-top: 5%;
        padding-left: 35%;
    }   

    .batas{
        background: rgb(179, 33, 33);
        margin-top:17%;
        padding: 3%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
    }


    .follow{
        font-size: 0.6em;
        color: rgb(255, 255, 255);
        font-family: Follow;
    }

    .logo2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5vh;
        margin-left: 2vh;
    }

    .isi2{
        background: black;
        height: 200px;
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        font-size: 2em;
        font-family: 'Chakra Petch', sans-serif;
    }
}




/* CSS LOGIN.HTML */

.login{
    background: white;
}

.log_posisi{
    display: flex;
    justify-content:center ;
    align-items: center;
    margin-top: 20vh;
}

.bd_log{
    background-color:rgb(250, 250, 250);
    border: thin solid rgb(31, 29, 29);
    border-radius: 5px;
    box-shadow: 2px;
    display: block;
    justify-content: center;
    align-items: center;
    width: 40vh;
    height: 50vh;
}

.sign{
    margin-top: 5%;
}

.input{
    margin-top: 10%;
    margin-bottom: 2%;
    margin-left: 9%;
}

.button{
    margin-top: 10%;
    margin-left: 9%;
}

.bt{
    margin-bottom: 5%;
}

.bt a{
    text-decoration: none;
}

.bt1 a{
    text-decoration: none;
}

.bt1{
    margin-top: 5%
}

.judul{
    display: flex; 
    font-size: 2em;
    align-items: center;
    text-align: center;
    font-family: Follow;
    margin-top: 2%
}

.j2{
    padding-right: 0.5%;
    padding-left: 3%;
    color: rgb(12, 89, 160);
}

.j1{
    background: rgb(12, 89, 160);
    color: rgb(255, 255, 255);
    
}


.bdlog{
    
}


.new{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80vh;
}